body, div, button, input, ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 15px;
  margin: 10px;
  color: #FFFFFF;
  font-size: 16px;
  font-family: Roboto, Arial, Helvetica, Tahoma, Calibri, Verdana, sans-serif;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  background-image: linear-gradient(-70deg, #da3200, #f79038);
}

.public-section {
  background-image: linear-gradient(-70deg, #006308, #03dea2);
}

button, input, ul {
  border: 4px solid #FFFFFF;
  border-radius: 3px;
  box-sizing:  border-box;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  background-color: transparent;
  transition: all 0.2s;
  opacity: 0.8;
}

ul {
  padding: 30px;
  border-width: 2px;
  opacity: 0.6;
}

input {
  margin: 20px 0;
  width: 290px;
  border-width: 2px;
}

input::placeholder {
  color: #FFFFFF;
  opacity: 0.5;
}

img {
  height: 32.5%;
  margin: 1px 4px;
}

.my-image {
  box-shadow: 0 0 0 4px #fff100;
}

.set-1, .set-2, .set-3, .set-4 {
  height: 40%;
}

#nicknameInput {
  width: 180px;
  margin-bottom: 40px;
}

button:hover {
  opacity: 1;
}

#gameId {
  margin: 30px 0 15px 0;
}

#selectImage {
  height: 97%;
  padding: 0;
  margin: 0;
}

#imageHint {
  height: 4%;
  padding: 0;
  margin: 0;
}

#imageList {
  display: block;
  height: 96%;
  max-width: 65vh;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 800px) {
  img {
    height: 49%;
  }

  .set-1, .set-2, .set-3, .set-4, .set-5, .set-6 {
    height: 49%;
  }

  .set-4 {
    margin: 1px 30px;
  }

  #imageList {
    max-width: 110vh;
  }
}

#hintInput {
  margin: 0;
  width: 230px;
}

.icon-button {
  padding: 8px;
}

.icon-button > i {
  font-size: 40px;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  background-color: rgba(0,0,0,0.2);
}

.popup {
  max-width: 50%;
  padding: 15px 30px;
  background-image: linear-gradient(-70deg, #f79038, #da3200);
}

.horizontal-container {
  flex-direction: row;
}

#selectedImage {
  padding: 0;
  margin: 20px 0;
}

#selectedImage > img {
  height: 65vh;
}

.partyButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  font-size: 28px;
  transition: all 0.2s;
}

.pop {
  font-size: 46px;
  color: #fff100;
}

.listItem {
  flex-direction: row;
  margin: 10px 0;
  padding: 0;
  justify-content: space-around;
}

.headers {
  justify-content: flex-end;
  width: 100%;
  font-weight: 900;
}

.headers > span {
  margin-left: 35px;
}

.list-nickname {
  display: flex;
  align-items: center;
  width: 100px;
  margin-left: 5px;
  text-align: left;
}

.master-star {
  font-size: 28px;
  margin-left: 3px;
  margin-bottom: 4px;
}

.list-image {
  height: 70px;
}

.list-votes {
  margin: 0;
  padding: 0;
  min-width: 105px;
}

.list-total {
  margin-left: 5px;
}

@media only screen and (min-width: 400px) {
  .list-nickname {
    width: 130px;
  }

  .list-votes {
    min-width: 135px;
  }

  div {
    font-size: 20px;
  }
}

.separate-button {
  margin-top: 40px;
}

#expandedImage > img {
  height: 60vh;
}

#donate {
  position: absolute;
  bottom: 0;
  font-size: 15px;
}

.donate-link {
  color: white;
  font-weight: 900;
  text-decoration: underline;
  font-size: 16px;
}

.spinner {
  border: 4px solid transparent;
  border-top: 4px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.shake {
  display: inline-block;
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.5s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); } 
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
